# Copyright (c) 2026 Jeffrey H. Johnson <johnsonjh.dev@gmail.com>
# SPDX-License-Identifier: MIT-0
# scspell-id: 9c65452e-40d4-11f1-a71d-80ee73e9b8e7
/*~
/a.out
/*.bak
/compile_commands.json
/core
/core-*
/crc
/crc.com
/CRC.COM
/crc.exe
/CRC.EXE
/crckcc.c
/crc.obj
/crc_test
/log.pvs
/nonexistent
/pvsreport
/selftest
/test.dat
/TEST.DAT
/.test_data.bin
/.test_results.log
/test.txt
