# CODEOWNERS
# Copyright (c) 2026 Jeffrey H. Johnson <johnsonjh.dev@gmail.com>
# SPDX-License-Identifier: MIT-0
# scspell-id: 25a79d32-48e1-11f1-8338-80ee73e9b8e7

################################################################################

* @johnsonjh

################################################################################
